@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-gray-100;
  }

  /* -------------------------------------------------------------------------- */
  /*                                  Scrollbar                                 */
  /* -------------------------------------------------------------------------- */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #98A2B3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent rounded;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
  }
  /* -------------------------------------------------------------------------- */
}
/* -------------------------------------------------------------------------- */

@layer components {
  /* --------------------------------- SideBar -------------------------------- */
  .sidebar-menu-item {
    @apply w-full flex items-center justify-between py-3 px-2 rounded-lg hover:bg-gray-100 transition-colors duration-300;
  }
  .sidebar-menu-item .sidebar-menu-item_content {
    @apply flex items-center space-x-3;
  }
  .sidebar-menu-item .sidebar-menu-item_icon {
    @apply text-gray-500;
  }
  .sidebar-menu-item .sidebar-menu-item_title {
    @apply text-gray-500 font-bold text-base;
  }
  .sidebar-menu-item .sidebar-menu-item_misc {
    @apply text-gray-500;
  }

  a.exact-active-page .sidebar-menu-item {
    @apply bg-gray-100;
  }
  a.exact-active-page .sidebar-menu-item_title {
    @apply text-gray-800;
  }
  a.exact-active-page .sidebar-menu-item_icon {
    @apply text-gray-800;
  }
  /* -------------------------------------------------------------------------- */

  /* ---------------------------------- Badge --------------------------------- */
  .badge {
    @apply inline-block rounded-md px-3 py-1.5 bg-gray-100;
  }
  .badge_content {
    @apply font-bold text-sm text-gray-600;
  }

  a.exact-active-page .badge {
    @apply bg-gray-800;
  }
  a.exact-active-page .badge_content {
    @apply text-white;
  }
  /* -------------------------------------------------------------------------- */
}
